<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="css/style.css">
  <title>Tradeoff Analytics</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="ct" content="<%= ct %>">
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
</head>

<body>
  <!-- top level heading -->
  <header class="_demo--heading">
    <div class="_demo--container">
      <a class="wordmark" href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/" target="_blank">
        <span class="wordmark--left">IBM</span>
        <span class="wordmark--right">Watson Developer Cloud</span>
      </a>
      <nav class="heading-nav" role="menubar">
        <li class="base--li heading-nav--li" role="presentation">
          <a class="heading-nav--item" href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/services-catalog.html" role="menuitem" target="_blank">
                    	Services
					</a>
        </li>
        <li class="base--li heading-nav--li" role="presentation">
          <a class="heading-nav--item" href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/doc/" role="menuitem" target="_blank">
						Docs
					</a>
        </li>
        <li class="base--li heading-nav--li" role="presentation">
          <a class="heading-nav--item" href="#http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/starter-kits.html" role="menuitem" target="_blank">
						Starter Kits
					</a>
        </li>
        <li class="base--li heading-nav--li" role="presentation">
          <a class="heading-nav--item" href="https://developer.ibm.com/watson/" role="menuitem" target="_blank">
                        Community
                    </a>
        </li>
      </nav>
    </div>
  </header>
  <div class="_demo--banner banner">
    <div class="_demo--container">
      <div class="banner--service-container">
        <div class="banner--service-icon-container">
          <img class="banner--service-icon" src="images/tradeoff-icon.png" alt="tradeoff analytics service icon">
        </div>
        <div class="banner--service-info">
          <h1 class="banner--service-title base--h1">
                      <img class="banner--service-icon_INLINE" src="images/tradeoff-icon.png" alt="Some Service API Icon">
                           Tradeoff Analytics
                  </h1>
          <div class="banner--service-description">
            Tradeoff Analytics applies decision analytics technology, enabling users to avoid choice overload when making complex decisions involving multiple, conflicting goals.
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- demo body -->
  <div class="_demo--input">
    <div class="_demo--content-container">
      <h2 class="base--h2">Try the service</h2>

      <h3 id="demo-input" class="base--h3">Input</h3>
      <div class="panel">
        <div class="panel--description base--p">
        Select the criteria relevant to your lines:
        </div>
        <div class="panel--option-container">

        </div>
        <button class="base--button panel--button">
          Help me decide
        </button>
      </div>

      <div class="input--API input--json-container">
			    <pre class="base--pre input--json language-javascript">
					<code class="base--code language-javascript">
					</code>
				</pre>
			</div>

      <div class="_demo--loading">
  		  <img src="images/loading-indicator.gif" width="100px" alt="">
  		</div>

    </div>
  </div>
  <div class="_demo--content-container">
    <div class="_demo--error"></div>
  </div>
  <div id="demo-output" class="_demo--output">
    <div class="_demo--content-container">
      <h3 class="output--title base--h3">Output</h3>

      <p class="base--p">
        <span>Tradeoff Analytics found the best</span>
        <span class="output--frontier-size">_</span>
        <span>out of </span>
        <span class="output--dataset-size">_</span>
        <span>options.</span></p>
        <p class="base--p">Use the filters and comparison to find the line that is right for you.</p>

      <div class="_demo--filter">
        <h5 class="filter--title base--h5">Filters</h5>
        <div class="filter--container">

        </div>

      </div>

      <div class="_demo--candidates">
        <h5 class="base--h5">
          Options
        </h5>
        <div class="_demo--candidates-container">
          <div class="winners candidates">

          </div>
        </div>
      </div>

      <div class="output--API output--json-container">
        <pre class="base--pre output--json language-javascript">
          <code class="base--code language-javascript">
          </code>
        </pre>
      </div>

      <div id="demo-comparison" class="_demo--comparison">
        <h5 class="base--h5">
          Compare two options
        </h5>
        <div class="comparison--container">
          <div class="comparison--table">
          </div>
        </div>
      </div>

      <div class="output--cong-text">
        Congratulations! Excellent choice.
      </div>
          <div class="output--client-lib">
      <div class="client-lib--container">
        <h5 class="client-lib--title base--h5">
          Client Library for Tradeoff Analytics Demo
        </h5>
        <p class="client-lib--des base--p">
          This is a demo of the trade off analytics interface and API, with the UI based off of the IBM demo.
        </p>
      </div>
    </div>
  </div>
</div>


  <script src="//code.jquery.com/jquery-2.2.2.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
  <script type="text/javascript" src="js/demo.js"></script>

  <% if (GOOGLE_ANALYTICS_ID) { %>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '<%= GOOGLE_ANALYTICS_ID %>', 'auto');
    ga('send', 'pageview');

  </script>
  <% } %>
</body>

</html>
